* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #151515;
}

/*Header*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_p {
    padding: 3vh;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

#header_div img {
    padding: 2vw;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 10vh;
}

#main_imagen {
    width: 50vw;
}

#main_h1 {
    margin: 10vh 0 5vh 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
}

b {
    border-bottom: 3px solid #7FC7A9;
}

#main_p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5vh;
    color: #a4a4a4;
}

#main_a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}


#main_imagen_tablet {
    display: none;
}

#main_imagen_desktop {
    display: none;
}


/*Responsive*/
@media screen and (max-width: 375px) {

}

@media screen and (min-width: 376px) and (max-width: 768px) {
/*Header*/

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  #header_p {
    font-size: 30px;
  }

/*Main*/

#main_imagen {
    display: none;
}

main {
    text-align: left;
    padding-left: 4vw;
    display: grid;
    grid-template-areas: "h1 imagen"
                          "p imagen"
                          "a imagen";
}

#main_h1 {
    grid-area: h1;
}

#main_p {
    grid-area: p;
}

#main_a {
    grid-area: a;
}

#main_imagen_tablet {
    grid-area: imagen;
    display: block;
    width: 100%;
}


}

@media screen and (min-width: 769px) {
  header{
    padding: 0 10vw 0 10vw;
    flex-direction: row;
    justify-content: space-between;
  }

  #header_p {
    font-size: 15px;
    padding-left: 0;
  }

  main {
    text-align: left;
    padding:  0vh 10vw;
    display: grid;
    grid-template-areas: "h1 imagen"
                          "p imagen"
                          "a imagen";
}

#main_h1 {
    grid-area: h1;
    font-size: 70PX;
}

#main_p {
    grid-area: p;
    font-size: 20px;
    width: 50%;
}

#main_a {
    grid-area: a;
}

#main_imagen {
    display: none;
}

#main_imagen_desktop {
    display: inline;
    grid-area: imagen;
    width: 100%;
}

}    